body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaf4b+0,ff920a+100;Orange+3D+%231 */
    background: #ffaf4b; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
    font-family: sans-serif;
    height: 100vh;
}

.header a {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 5em;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid white;
    width: 250px;
    height: 250px;
    margin: 70px auto 30px;
    line-height: 250px;
    border-radius: 50%;
    box-shadow: 10px 1px 20px rgba(0, 0, 0, 0.05);
    background: #ffaf4b; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
}

h2 {
    text-align: center;
    font-weight: 400;
}
.icon {
     text-align: center;
}